# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# Environment variables
.env

# IDE
.vscode/
.idea/

# Testing
.pytest_cache/
.coverage
htmlcov/

# ML artifacts
*.pkl
*.joblib
*.model

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Raw datasets
ml/data/raw/

# Processed datasets
ml/data/processed/

# Generated model artifacts
ml/artifacts/models/

# Generated preprocessing artifacts
ml/artifacts/preprocessors/

# Generated reports
ml/artifacts/reports/

# Jupyter
.ipynb_checkpoints/

mlflow.db
mlflow.db
mlartifacts/